.feature3 {
  box-sizing: border-box;

  position: absolute;
  width: 209px;
  height: 510px;
  left: 87px;
  top: -200px;

  background: #171616;
  border: 1px solid #000000;

  background-image: url(Group.png);
}
