.feature23 {
  position: absolute;
  left: 515px;
  height: 50px;
  width: 30px;
  /* right: 33.96%; */
  top: 1600px;
  /* bottom: 29.62%; */

  background: #fff9da;
  border: 0.75px solid #ffffff;

  background: url(Vector_.png);
}
