.feature60 {
position: absolute;
left: 717.31px;
right: 678.31px;
top: 2992.66px;
bottom: 1281.44px;
width:45px;
height: 52px;
/* ICON */

background: #8A8A8A;
    background: url(VectorResolution.png);
}
  