.feature90{
    box-sizing: border-box;

position: absolute;
width: 461px;
height: 158px;
left: 32px;
top: 14px;

/* text */

background: #759B24;
/* text */
background: url(Ellipse\ 6.png);

border: 1px solid #759B24;
}