.feature17 {
    position: absolute;
    width: 371px;
    height: 371px;
    left: 750px;
    top: 2000px;
    
    background: linear-gradient(180deg, #BCDD75 0%, rgba(134, 184, 27, 0.932292) 100%);
    border-radius: 8px;
    background: url(Rectangle4.png);
  }
  