.feature81 {
    position: absolute;
width: 335.17px;
height: 0px;
left: -49px;
top: 2085px;

border: 12px solid #D9D9D9;
border-radius: 20px;
transform: rotate(-45deg);
    background: url(Line\ 6.png);
  }
  