.feature52 {
    position: absolute;
    width: 91px;
    height: 5px;
    left: 948px;
    top: 2840px;
    
    /* green */
    
    background: #99BD4C;
    transform: rotate(90deg);
    background: url(Rectangle\ 4.png);
  }
  