.feature25 {
  position: absolute;
  width: 265px;
  height: 63px;
  left: 350px;
  top: 1820px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 41px;
  /* or 146% */

  text-align: center;

  color: #ffffff;

  background: url(text-.png);
}
