.feature56 {
    position: absolute;
    width: 48.92px;
    height: 35px;
    left: 887.8px;
    top: 2732.07px;
    
    /* greytext */

    transform: matrix(0.98, 0.25, 0.2, -0.97, 0, 0);
    background: #FFFFFF;
    background: url(Vector\ 4.png);
  }
  