.feature43 {
  box-sizing: border-box;

position: absolute;
width: 461px;
height: 158px;
left: 169px;
top: 2572px;

/* text */

/* border: 1px solid #759B24; */

    background: #FFFFFF;
    background: url(Ellipse\ 6.png);
  }
  