.feature3 {
  box-sizing: border-box;

  position: absolute;
  width: 106px;
  height: 154.69px;
  left: 122px;
  top: -17px;

  background: #d9d9d9;
  border: 1px solid #000000;

  background-image: url(Union.jpg);
}
