.feature49 {
    position: absolute;
    width: 74px;
    height: 25px;
    left: 1029px;
    top: 2611px;
    
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.06em;
    
    /* ICON */
    
    color: #8A8A8A;
    background: url(Li\ +-.png);
  }
  