.feature48 {
position: absolute;
width: 261px;
height: 20px;
left: 950px;
top: 2662px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
text-align: center;
letter-spacing: 0.06em;

/* text */

color: #759B24;
    background: url(Lithium\ ion\ Batteries.png);
  }
  