.feature38 {
    position: absolute;
    width: 107px;
    height: 14px;
    left: 660px;
    top: 35px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    
    text-transform: uppercase;
    background: url(TECHNOLOGY.png);
  }
  