.feature76 {
    position: absolute;
    left: 480px;
    /* right: 940.15px; */
    top: 2720.9px;
    /* bottom: 1562.94px; */
    width: 0px;
    height: 12px;
    
    /* text */
    
    background: #759B24;
    transform: matrix(0.67, 0.91, 0.6, -0.68, 0, 0);
background: url(Arrowhead.png);
}

   