.feature40 {
  position: absolute;
  width: 53px;
  height: 13px;
  left: 1080px;
  top: 34px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  text-transform: uppercase;
  background: url(about--.png);
}
