.feature24 {
    position: absolute;
    left: 430px;
    height: 50px;
    width: 30px;
    /* right: 33.96%; */
    top: 1750px;
    /* bottom: 29.62%; */
  
    background: #fff9da;
    border: 0.75px solid #ffffff;
  
    background: url(Vector_1.png);
  }
  