.feature74 {
    position: absolute;
left: 389.01px;
right: 1033.84px;
top: 2630.58px;
bottom: 1667.98px;
width: 2px;
height: 7px;
/* ICON */

background: #8A8A8A;

    background: url(VectorCell.png);
}
  