.feature51 {
position: absolute;
width: 91px;
height: 5px;
left: 436px;
top: 2840px;

/* green */

background: #99BD4C;
transform: rotate(90deg);
    
    background: #FFFFFF;
    background: url(Rectangle\ 4.png);
  }
  