.feature93{
    position: absolute;
width: 359px;
height: 90px;
left: 83px;
top: 52px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;
letter-spacing: 0.02em;

/* w */

color: #FFFFFF;
background: url(We\ resolve\ the\ problem\ of\ EVs\ batteries\ with\ our\ Swappable\ Battery\ Station\ for\ EV\ customer\ with\ smart\ charging\ pod\ integrated\ with\ solar\ panels..png);
}