.feature84 {
    position: absolute;
width: 335.17px;
height: 0px;
left: 1286px;
top: 1775px;
border-radius: 20px;
border: 12px solid #D9D9D9;
transform: rotate(-45deg);
    background: url(Line\ 6.png);
  }
  