.feature65{
position: absolute;
width: 805px;
height: 25px;
left: 315px;
top: 3328px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 62px;
/* identical to box height, or 258% */

text-align: center;
letter-spacing: 0.04em;

/* ICON */

color: #8A8A8A;

    background: url(Mobility\ made\ easier\ with\ our\ instant\ battery\ swapping\ mechanism..png);
}