.feature78{
    position: absolute;
    left: 519.53px;
    top: 2976.97px;
    width: 0.01%;
    height: 10px;
    /* green */
    
    background: #99BD4C;
    transform: rotate(-90deg);
    background: url(VectorResolutionHead.png);
    }