.feature31 {
  position: absolute;
   width: 330px;
  height: 70px;
  left: 770px;
  top: 2250px;

  /* font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 41px; */
  /* or 146% */

  /* text-align: center;

  color: #ffffff; */

  background: url(text2.png);
}
