.feature33 {
    position: absolute;
    left: 905px;
    height: 90px;
    /* right: 33.33%; */
    top: 2081px;
    width: 67px;
    /* bottom: 20.83%; */
    
    background: #FFFFFF;
    background: url(Vector_--.png);
  }
  