.feature44 {
  position: absolute;
  width: 349px;
  height: 25px;
  left: 223px;
  top: 2661px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.06em;
  
  /* text */
  
  color: #759B24;
  
  
  /* background: #FFFFFF; */
  background: url(Swappable\ Battery\ Stations.png);
}
