.feature61 {
position: absolute;
width: 0px;
height: 28px;
left: 731px;
top: 2900px;

/* greytext */
    
    background: #FFFFFF;
    transform: rotate(45deg);
    background: url(Vector\ 4.png);
  }
  