.feature35 {
    position: absolute;
    left: 200px;
    height: 138px;
    /* right: 33.33%; */
    top: 0.15%;
    width: 117px;
    /* bottom: 20.83%; */
    
    background: #FFFFFF;
    background: url(upperframe.png);
  }
  