.feature75 {
    position: absolute;
left: 389.01px;
right: 1033.84px;
top: 2622.01px;
bottom: 1676.56px;
width: 2px;
height: 7px;
/* ICON */

background: #8A8A8A;

    background: url(VectorCell.png);
}
  