.feature37 {
  position: absolute;
  width: 45px;
  height: 14px;
  left: 530px;
  top: 34px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px; 
  /* line-height: 21px; */
  /* identical to box height

  text-transform: uppercase;

  /* border: 1px solid #ffffff; */
  /* transform: rotate(179.95deg); */
  background: url(Home.png);
}
