.feature55 {
    box-sizing: border-box;

    position: absolute;
    width: 461px;
    height: 158px;
    left: 513px;
    top: 2955px;
    
    /* text */
    
 
    background: #FFFFFF;
    background: url(Ellipse\ 6.png);
  }
  