.feature88 {
    box-sizing: border-box;

position: absolute;
width: 499px;
height: 174px;
left: 0px;
top: 0px;

/* w */

background: #FFFFFF;
border: 1px dashed #2F8122;
    background: url(Ellipse\ 5.png);
  }
  