.feature34 {
    position: absolute;
    left: 868px;
    height: 90px;
    /* right: 33.33%; */
    top: 2081px;
    width: 59px;
    /* bottom: 20.83%; */
    
    background: #FFFFFF;
    background: url(Vector-_.png);
  }
  