.feature66 {
    position: absolute;
    width: 49px;
    height: 5px;
    left: 846px;
    top: 3252px;
    
    /* green */
    
    background: #99BD4C;
    transform: rotate(90deg);
    background: url(Rectangle\ 4.png);
  }
  