.feature47 {
    position: absolute;
    left: 837px;
    height: 158px;
    /* right: 33.33%; */
    top: 2573px;
    width: 461px;
    /* bottom: 20.83%; */
    
    background: #FFFFFF;
    background: url(Ellipse\ 6.png);
  }
  