.feature62 {
position: absolute;
width: 169px;
height: 24px;
left: 662px;
top: 3246px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 62px;
/* identical to box height, or 194% */

text-align: center;
letter-spacing: 0.02em;

color: #000000;
background: url(SWAPPING.png);
  }
  