.feature94{
    position: absolute;
width: 359px;
height: 90px;
left: 83px;
top: 62px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;
letter-spacing: 0.02em;

/* w */

color: #FFFFFF;
background: url(Lithium\ ion\ batteries\,\ compared\ to\ lead-acid\,\ lasts\ 3-4\ times\ longer\ and\ without\ losing\ its\ effectiveness\ over\ time..png);
}