.feature6 {
  position: absolute;
  width: 322px;
  height: 25px;
  left: 230px;
  top: 250px;

  /* font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 41px; */
  /* identical to box height, or 158% */

  letter-spacing: 0.06em;

  color: #e3e3e3;
  background: url(text.png);
}
