.feature22 {
    position: absolute;
    height: 98px;
    left: 420px;
    width: 130px;
    /* right: 68.08%; */
    top: 1650px;
    /* bottom: 67.5%; */
    
    background: #FFFFFF;


  background: url(Vector-.png);
}
