.feature46 {
    position: absolute;
    left: 805px;
    height: 174px;
    /* right: 33.33%; */
    top: 2559px;
    width: 499px;
    /* bottom: 20.83%; */
    
    background: #FFFFFF;
    background: url(Ellipse\ 5.png);
  }
  